<div class="container">
  <h1 class="text-center">Employee Management Portal</h1> <br>

  <nav class="navbar navbar-expand-sm">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="/employees" routerLinkActive="active"
          >Employees</a
        >
      </li> 
      &nbsp; &nbsp;
      <li class="nav-item">
        <a class="nav-link" routerLink="/departments" routerLinkActive="active"
          >Departments</a
        >
      </li> 
      &nbsp; &nbsp;
      <li class="nav-item">
        <a class="nav-link" routerLink="/asset-list" routerLinkActive="active"
          >Assets</a
        >
      </li> 
      &nbsp; &nbsp;
      <li class="nav-item">
        <a class="nav-link" routerLink="/asset-requests" routerLinkActive="active"
          >Asset Requests</a
        >
      </li> 
      &nbsp; &nbsp;
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile" routerLinkActive="active"
          >Profile</a
        >
      </li>
    </ul>

    <ul class="navbar-nav ms-auto">
      <li class="nav-item" style="font-size: 25px;">
        <strong>Hello {{ userDetails.userName }}!</strong>
      </li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item">
        <button type="button" class="btn btn-outline-danger me-auto mb-2 mb-sm-0" (click)=onLogout()>Logout</button>
      </li>
    </ul>
  </nav>
  
</div>
