<app-homepage></app-homepage>
<br>

<div class="container">

    <div class="d-grid gap-2 d-md-flex justify-content-md-end" *ngIf="user.departmentName!='SFM' && user.departmentName!='Human Resources'">
        <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#assetRequestModal">
          <i class="bi bi-plus" style="font-size: 20px;"></i> 
          New Asset Request
        </button>
      </div>
    
      <div class="modal fade" id="assetRequestModal" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              
              <h2 class="modal-title" id="assetRequestModalLabelC" *ngIf="service.assetRequestFormData.assetRequestId==0">
                <strong>Create Asset Request</strong>
              </h2>
              <h2 class="modal-title" id="assetRequestModalLabelE" *ngIf="service.assetRequestFormData.assetRequestId!=0">
                <strong>Edit Asset Request</strong>
              </h2>

               <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <app-manage-asset-requests></app-manage-asset-requests>
            </div>
          </div>
        </div>
      </div>

    <br />
<table class="table table-hover non-click">
    <thead class="thead-light">
      <tr class="align-middle">
        <th>Request Id</th>
        <th>Employee Name</th>
        <th>Asset</th>
        <th>Duration</th>
        <th>Requested On</th>
        <th>Actioned On</th>
        <th>Actioned By</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="align-middle" *ngFor="let r of service.assetRequestList">
        <td>{{ r.assetRequestId }}</td>
        <td>{{ r.employeeName }}</td>
        <td>{{ r.asset }}</td>
        <td>{{ r.numberOfDays }} days</td>
        <td>{{ r.requestedOn | date:'dd-MM-YYYY' }}</td>
        <td>{{ r.approvedOn | date:'dd-MM-YYYY' }}</td>
        <td>{{ r.approvedBy }}</td>
        <td>
          <span class="badge bg-success text-dark" style="font-size: 15px; font-weight: normal;" *ngIf="r.approved===true">Approved</span>
          <span class="badge bg-warning text-dark" style="font-size: 15px; font-weight: normal;" *ngIf="r.approved==null">Pending Request</span>
          <span class="badge bg-danger text-dark" style="font-size: 15px; font-weight: normal;" *ngIf="r.approved==false">Rejected</span>
          &nbsp;
          <button type="button" id="showReason" class="btn btn-sm btn-outline-info" data-bs-target="#showReasonModal" data-bs-toggle="modal"
          *ngIf="r.approved==false" (click)="populate(r)">
            Reason
          </button>

          <div class="modal fade" id="showReasonModal" data-bs-backdrop="static">
            <div class="modal-dialog modal-sm modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title" id="showReasonModalLabel">
                    <strong>Reason for rejection</strong>
                  </h2>
                </div>
                <div class="modal-body">
                  <textarea type="textarea" rows="4" readonly class="form-control-plaintext" [value]="service.assetRequestFormData.reason"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </td>
        <td *ngIf="user.departmentName!='SFM' && user.departmentName!='Human Resources' && r.approved==null">
          <a class="btn edit" data-bs-toggle="modal" data-bs-target="#assetRequestModal" (click)="populate(r)">
          <i class="bi bi-pencil-square" style="color: rgb(0, 183, 255);" data-bs-toggle="tooltip" title="Edit"></i></a>

          <a class="btn delete" (click)="onDelete(r.assetRequestId)">
          <i class="bi bi-trash" style="color: red" data-bs-toggle="tooltip" title="Delete"></i></a>
        </td>

        <td *ngIf="user.departmentName==='SFM' || user.departmentName==='Human Resources'">
          <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#adminReviewModal"
           *ngIf="r.approved==null" (click)="populate(r)"><i class="bi bi-card-checklist"></i> Review</button>

           <div class="modal fade" id="adminReviewModal" data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title" id="adminReviewModalLabel">
                    <strong>Review Asset Request</strong>
                  </h2>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <app-admin-review></app-admin-review>
                </div>
              </div>
            </div>
          </div>

        </td>
      </tr>

    </tbody>
  </table>
  <div class="text-center" *ngIf="!service.assetRequestList?.length">No asset requests to show.</div>
</div>

