<app-homepage></app-homepage>
<div class="container">

    <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#departmentModal">
        <i class="bi bi-plus" style="font-size: 20px;"></i> 
        New Department
      </button>
    </div>
  
    <div class="modal fade" id="departmentModal" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="departmentModalLabel" *ngIf="service.departmentFormData.departmentId==0">Add Department</h4>
            <h4 class="modal-title" id="departmentModalLabel" *ngIf="service.departmentFormData.departmentId!=0">Edit Department</h4>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal"></button> -->
          </div>
          <div class="modal-body">
            <app-manage-department></app-manage-department>
          </div>
        </div>
      </div>
    </div>
  
  
    <br />
    <table class="table table-hover non-click">
      <thead class="thead-light">
        <tr class="text-center">
          <th>Department ID</th>
          <th>Department Name</th>
          <th>In-charge</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center" *ngFor="let dep of service.departmentList">
          <td>{{ dep.departmentId }}</td>
          <td>{{ dep.departmentName }}</td>
          <td>{{ dep.deptInChargeName }}</td>
          <td>
            <a class="btn edit" data-bs-toggle="modal" data-bs-target="#departmentModal" (click)="populate(dep)">
            <i class="bi bi-pencil-square" style="color: rgb(0, 183, 255);"></i> Edit</a>
            &nbsp;
            <a class="btn delete" (click)="onDelete(dep.departmentId)">
            <i class="bi bi-trash" style="color: red"></i>  Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center" *ngIf="!service.departmentList?.length">No departments to show.</div>
  </div>