<form ngForm #f="ngForm" (submit)="onSubmit(f)">
    <input type="hidden" name="assetId" value="service.assetFormData.assetId" />

    <div class="mb-auto row">
        <label class="col-auto col-form-label"><strong>Asset Name</strong></label>
        <div class="col-auto">
            <input ngModel name="assetName" #assetName="ngModel" [(ngModel)]="service.assetFormData.assetName"
            id="assetName" type="text" class="form-control" required />
            <div class="alert alert-danger" *ngIf="assetName.touched && !assetName.valid">Asset name cannot be empty!</div>
        </div>
        <label class="col-md-2 col-form-label" *ngIf="service.assetFormData.assetId==0">&nbsp;&nbsp;&nbsp;&nbsp;<strong>Asset Type</strong></label>
        <div class="col-md-2" *ngIf="service.assetFormData.assetId==0">
            <select ngModel name="assetType" #assetType="ngModel" [(ngModel)]="service.assetFormData.assetType"
                 id="assetType" class="form-control" required>
                <option value="">--Select--</option>
                <option>Hardware</option>
                <option>Software</option>
            </select>
            <div class="alert alert-danger" *ngIf="assetType.touched && !assetType.valid">Asset type cannot be empty!</div>
        </div>
    </div> <br>

    <div class="mb-auto row">
        <label class="col-auto col-form-label"><strong>Manufacturer</strong></label>
        <div class="col-auto">
            <input ngModel name="manufacturer" #manufacturer="ngModel" [(ngModel)]="service.assetFormData.manufacturer"
            id="manufacturer" type="text" class="form-control" required />
            <div class="alert alert-danger" *ngIf="manufacturer.touched && !manufacturer.valid">Manufacturer cannot be empty!</div>
        </div>
        <label class="col-md-2 col-form-label">&nbsp;<strong>Model</strong></label>
        <div class="col-auto">
            <input ngModel name="model" #model="ngModel" [(ngModel)]="service.assetFormData.model"
            id="model" type="text" class="form-control" required />
            <div class="alert alert-danger" *ngIf="model.touched && !model.valid">Model cannot be empty!</div>
        </div>
    </div> <br>

    <div class="mb-auto row">
        <label class="col-auto col-form-label"><strong>Serial Number</strong></label>
        <div class="col-auto">
            <input ngModel name="serialNumber" #serialNumber="ngModel" [(ngModel)]="service.assetFormData.serialNumber"
            id="serialNumber" type="text" class="form-control" />
        </div>
        <label class="col-auto col-form-label"><strong>Licence Number</strong></label>
        <div class="col-auto">
            <input ngModel name="licenceNumber" #licenceNumber="ngModel" [(ngModel)]="service.assetFormData.licenceNumber"
            id="licenceNumber" type="text" class="form-control" />
        </div>
    </div> <br>

    <div class="mb-auto row">
        <label class="col-auto col-form-label"><strong>Date of Expiry</strong></label>
        <div class="col-auto">
            <dx-date-box id="dateOfExpiry" ngModel name="dateOfExpiry" #dateOfExpiry="ngModel"
                    [(ngModel)]="service.assetFormData.dateOfExpiry"
                    type="date" 
                    displayFormat="dd/MM/yyyy">
                </dx-date-box>
            <!-- <input ngModel name="dateOfExpiry" #dateOfExpiry="ngModel" [(ngModel)]="service.assetFormData.dateOfExpiry"
            id="dateOfExpiry" type="datetime" class="form-control" bsDatepicker [bsConfig]="{ isAnimated: true }" autocomplete="off" /> -->
        </div>
    </div>

    <hr>

    <div class="text-right">
        <button class="btn btn-secondary mr-3" data-bs-dismiss="modal" (click)="resetForm(f)">Cancel</button> &nbsp;
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid"  *ngIf="service.assetFormData.assetId==0">Add</button>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid" *ngIf="service.assetFormData.assetId!=0">Update</button>
    </div>

</form>