<app-homepage></app-homepage>
<br>

<div class="container">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end"  *ngIf="user.departmentName==='SFM' || user.departmentName==='Human Resources'">
        <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#assetModal">
          <i class="bi bi-plus" style="font-size: 20px;"></i> 
          New Asset
        </button>
      </div>
    
      <div class="modal fade" id="assetModal" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="assetModalLabel" *ngIf="service.assetFormData.assetId==0"><strong>Add Asset</strong></h2>
              <h2 class="modal-title" id="assetModalLabel" *ngIf="service.assetFormData.assetId!=0"><strong>Edit Asset</strong></h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <app-manage-asset></app-manage-asset>
            </div>
          </div>
        </div>
      </div>

    <br>
<table class="table table-hover non-click">
    <thead class="thead-light">
      <tr class="align-middle">        
        <th>Asset Id </th>
        <th>Asset Name</th>
        <th>Asset Type</th>
        <th>Allocated To</th>
        <th>Allocated By</th>
        <th>Manufacturer</th>
        <th>Model</th>
        <th>Serial Number</th>
        <th>Licence Number</th>
        <th>Date of Expiry</th>
        <th></th>
    </tr>
</thead>
<tbody>
  <tr class="align-middle" *ngFor="let asset of service.assetList">
        <td>{{ asset.assetId }}</td>
        <td>{{ asset.assetName }}</td>
        <td>{{ asset.assetType }}</td>
        <td>{{ asset.allocatedTo }}</td>
        <td>{{ asset.allocatedBy }}</td>
        <td>{{ asset.manufacturer }}</td>
        <td>{{ asset.model }}</td>
        <td>{{ asset.serialNumber }}</td>
        <td>{{ asset.licenceNumber }}</td>
        <td>{{ asset.dateOfExpiry | date:'dd-MM-YYYY' }}</td>
        <td  *ngIf="user.departmentName==='SFM' || user.departmentName==='Human Resources'">
            <a class="btn edit" data-bs-toggle="modal" data-bs-target="#assetModal" (click)="populate(asset)">
            <i class="bi bi-pencil-square" style="color: rgb(0, 183, 255);" data-bs-toggle="tooltip" title="Edit"></i></a>
            
            <a class="btn delete" (click)="onDelete(asset.assetId)">
            <i class="bi bi-trash" style="color: red" data-bs-toggle="tooltip" title="Delete"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center" *ngIf="!service.assetList?.length">No assets to show.</div>
  </div>