<app-homepage></app-homepage>
<div class="container">

    <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#employeeModal">
          <i class="bi bi-plus" style="font-size: 20px;"></i> 
          New Employee
        </button>
      </div>
    
      <div class="modal fade" id="employeeModal" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="employeeModalLabel" *ngIf="service.employeeFormData.employeeId==0">Add Employee</h4>
              <h4 class="modal-title" id="employeeModalLabel" *ngIf="service.employeeFormData.employeeId!=0">Edit Employee</h4>
              <!-- <button type="button" class="btn-close" data-bs-dismiss="modal"></button> -->
            </div>
            <div class="modal-body">
              <app-manage-employee></app-manage-employee>
            </div>
          </div>
        </div>
      </div>

    <br />
    <table class="table table-hover non-click">
      <thead class="thead-light">
        <tr class="text-center">
          <th>Emp ID</th>
          <th>Name</th>
          <th>DOB</th>
          <th>Gender</th>
          <th>Address</th>
          <th>Department</th>
          <th>DOJ</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of service.employeeList">
          <td class="text-center">{{ emp.employeeId }}</td>
          <td>{{ emp.firstName }} {{ emp.lastName }}</td>
          <td class="text-center">{{ emp.dateOfBirth | date:'dd-MM-YYYY' }}</td>
          <td class="text-center">{{ emp.gender }}</td>
          <td>{{ emp.address }}</td>
          <td>{{ emp.departmentName }}</td>
          <td class="text-center">{{ emp.dateOfJoining | date:'dd-MM-YYYY' }}</td>
          <td>
            <a class="btn edit" data-bs-toggle="modal" data-bs-target="#employeeModal" (click)="populate(emp)">
            <i class="bi bi-pencil-square" style="color: rgb(0, 183, 255);"></i>  Edit</a>
            <a class="btn delete" (click)="onDelete(emp.employeeId)">
            <i class="bi bi-trash" style="color: red"></i>  Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center" *ngIf="!service.employeeList?.length">No employees to show.</div>
  </div>
