<app-homepage></app-homepage>
<br> <br>

<div class="container">

    <div>
        <h1 class="h1 mb-3 fw-normal" style="font-size: 40px;"><strong>Your Info</strong></h1>
    </div> <br> 
    
    <div class="details" *ngIf="userDetails">
      <div class="mb-3 row">
        <label class="col-auto col-form-label"><strong>Employee Id:</strong></label>
        <div class="col-auto">
          <input type="text" readonly class="form-control-plaintext" [value]="userDetails.employeeId">
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-auto col-form-label"><strong>Username:</strong></label>
        <div class="col-auto">
          <input type="text" readonly class="form-control-plaintext" [value]="userDetails.userName">
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-auto col-form-label"><strong>Full Name:</strong></label>
        <div class="col-auto">
          <input type="text" readonly class="form-control-plaintext" [value]="userDetails.firstName+&quot; &quot;+userDetails.lastName">
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-auto col-form-label"><strong>Date of Birth:</strong></label>
        <div class="col-auto">
          <input type="text" readonly class="form-control-plaintext" [value]="userDetails.dateOfBirth | date:'dd-MM-YYYY'">
        </div>
      </div>
      
      <div class="mb-3 row">
        <label class="col-auto col-form-label"><strong>Gender:</strong></label>
        <div class="col-auto">
          <input type="text" readonly class="form-control-plaintext" [value]="userDetails.gender">
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-auto col-form-label"><strong>Address:</strong></label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" [value]="userDetails.address">
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-auto col-form-label"><strong>Date of Joining:</strong></label>
        <div class="col-auto">
          <input type="text" readonly class="form-control-plaintext" [value]="userDetails.dateOfJoining| date:'dd-MM-YYYY'">
        </div>
      </div>
      
      <div class="mb-3 row">
        <label class="col-auto col-form-label"><strong>Department:</strong></label>
        <div class="col-auto">
          <input type="text" readonly class="form-control-plaintext" [value]="userDetails.departmentName">
        </div>
      </div>
    </div>

</div>
